@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
    font-family: 'VisbyRoundCF';
    src: url('/fonts/VisbyRoundCF-DemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    }
    
    @font-face {
    font-family: 'VisbyRoundCF';
    src: url('/fonts/VisbyRoundCF-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    }
    
    @font-face {
    font-family: 'VisbyRoundCF';
    src: url('/fonts/VisbyRoundCF-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    }

    @font-face {
    font-family: 'VisbyRoundCF';
    src: url('/fonts/VisbyRoundCF-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    }
}

*{
    font-family: 'VisbyRoundCF', sans-serif;
}

.chart_tooltip {
    font-family: 'VisbyRoundCF', sans-serif;
    background-color: #303241;
    color: #d1d5db;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chart_tooltip .first{
    color: #eded8a;
}

.chart_tooltip .second{
    color: #f09c78;
}

.apexcharts-tooltip {
    box-shadow: none !important;
}