@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
    font-family: 'VisbyRoundCF';
    src: url('/fonts/VisbyRoundCF-DemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    }
    
    @font-face {
    font-family: 'VisbyRoundCF';
    src: url('/fonts/VisbyRoundCF-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    }
    
    @font-face {
    font-family: 'VisbyRoundCF';
    src: url('/fonts/VisbyRoundCF-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    }

    @font-face {
    font-family: 'VisbyRoundCF';
    src: url('/fonts/VisbyRoundCF-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    }
}

*{
    font-family: 'VisbyRoundCF', sans-serif;
}